body{

	margin: 
}

.fixed {
	position: fixed;
	top:0;
	background-color: #eee;
	height: 100px;
	width: 100px;

}

.relative{
	position: relative;
	background-color: #eee;
	height: 300px;
	width: 600px;
	left: 25%;
}

.absolute {
	position: absolute;
	background-color: #666;
	height: 100px;
	width: 200px;
	bottom:0;
	right: -7%;

}